/* لإزالة الأسهم في متصفحات كروم وسفاري وإيدج */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* لإزالة الأسهم في متصفح فايرفوكس */
input[type="number"] {
  -moz-appearance: textfield;
}